.header {
    position: fixed;
    width: 100%;

    &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(217, 217, 217, 0.2);
        filter: blur(2px);
        z-index: -1;
    }

    .header__wrap {
        padding: 20px 0;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        font-family: "Montserrat", sans-serif;

        .header__logo {
            display: flex;
            flex-direction: row;
            gap: 10px;
            align-items: center;
        }

        .header__nav {
            .header__navList {
                display: flex;
                flex-direction: row;
                gap: 40px;

                font-size: 16px;
                font-weight: 500;

                .header__navItem {
                    .header__navLink {
                        display: block;
                        position: relative;
                        transition: 0.3s;

                        &::before {
                            position: absolute;
                            content: "";
                            width: 0;
                            height: 1px;
                            left: 0;
                            bottom: -2px;
                            background: var(--green);

                            transition: 0.3s;
                        }

                        &:hover {
                            color: var(--green);

                            &::before {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }

        .header__town {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 20px;

            .town__text {
                font-size: 14px;
                font-weight: 400;
            }

            .town__btn {
                cursor: pointer;
                user-select: none;

                padding: 10px 15px;
                border-radius: 50px;

                color: var(--green);
                font-size: 16px;
                font-weight: 600;
                // border: 1px var(--green) solid;
                background-color: var(--light-gray);

                transition: 0.2s;

                &:hover {
                    background-color: var(--green);
                    color: var(--white);
                }
            }
        }

        .header__orderBtn {
            cursor: pointer;
            user-select: none;
            color: var(--white);
            padding: 10px 30px;
            border-radius: 50px;
            background: var(--green);
            font-size: 16px;
            font-weight: 600;
            // border: 1px var(--white) solid;

            transition: 0.2s;

            &:hover {
                background-color: var(--light-gray);
                color: var(--green);
                // border-color: var(--green);
            }
        }
    }
}
