.container {
    max-width: 1340px;
    margin: 0 auto;
    padding: 0;
}

.section__banner {
    // margin-top: 60px;
    padding-top: 120px;
    min-height: calc(100vh - 120px);
    font-family: "Montserrat", sans-serif;
    background: var(--super-light-gray);

    .banner-wrap {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .banner__info {
            display: flex;
            flex-direction: column;

            .banner__infoTitle {
                color: var(--black);
                font-size: 36px;
                font-weight: 700;
                .banner__infoTitle_marked {
                    color: var(--green);
                }
            }
        }
    }
}
